[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A scalable, distributed Time Series Database.
[access "refs/*"]
	owner = group user/rthorat
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/rthorat
	label-Verified = -1..+1 group user/rthorat
	push = group user/rthorat
	read = group user/rthorat
	rebase = group user/rthorat
	removeReviewer = group user/rthorat
	submit = group user/rthorat
[access "refs/heads/*"]
	create = group user/rthorat
	push = +force group user/rthorat
	pushMerge = group user/rthorat
	read = group user/rthorat
[access "refs/tags/*"]
	push = group user/rthorat
	push = +force group user/rthorat
